.clothes-main-section {
    width: 100%;
    min-height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
}

.clothes-header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.clothes-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
